<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker 🛠️</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div id="container">
      <header class="flex">
        <div id="header-heading">
          <a href="/">
            <h3>Issue Tracker</h3>
          </a>
        </div>
        <button id="create-project-btn" class="primary-btn">
          Create New Project
        </button>
      </header>

      <main>
        <div id="projects-display" class="flex">
          <%- include('_projectPageProjectTile') %>
        </div>

        <div id="issues-header" class="flex">
          <% if (project.issues.length > 0) { %>
          <h3>Project issues</h3>
          <% } else { %>
          <h3>No issues added yet!</h3>
          <% } %>
          <div id="issues-header-btns" class="flex">
            <form action="/project/<%= project._id %>" method="get" class="">
              <button id="" class="primary-btn secondary-btn">
                Show All Issues
              </button>
            </form>
          </div>
        </div>

        <div id="issues-display" class="flex">
          <% for (issue of project.issues) { %> <%- include('_issue') %> <% } %>
        </div>

        <div class="modal-container" id="modal-container-issue">
          <%- include('_newIssueModal') %>
        </div>

        <div class="modal-container" id="modal-container">
          <%- include('_modal') %>
        </div>
      </main>

      <%- include('_footer') %>
      <script src="/js/home.js"></script>
      <script src="/js/projectPage.js"></script>
    </div>
  </body>
</html>
